---
import RegisterButton from "./RegisterButton.astro";
---

<main class="p-10">
  <h1 class="">Calendario</h1>
  <section class="flex flex-col gap-4 text-pretty">
    <p class="">
      El examen de la Universidad de Antioquia es un reto significativo, por eso
      diseñamos un ciclo de preparación de 9 meses consecutivos para garantizar
      que nuestros estudiantes estén completamente preparados y logren ingresar
      a la carrera de sus sueños en esta prestigiosa universidad.
    </p>

    <p>
      Las clases tendrán las siguientes fechas Inicio Lunes 20 de enero de 2025
      Finaliza Viernes 17 de octubre (o una semana antes del examen de
      admisión).
    </p>

    <p>
      Habrá recesos únicamente durante la Semana Santa y dos de las tres semanas
      de vacaciones, para un total aproximado de 34 semanas de clases efectivas.
    </p>
  </section>
  <section class="flex">
    <RegisterButton />
    <button>Conoce nuestros docentes</button>
  </section>
</main>
