<main class="flex item-center justify-center gap-2 mt-4">
  <a href="https://wa.link/vdgwo6" target="_blank" rel="noopener noreferrer">
    <button class="md:text-sm"> !Matricúlate ahora! </button></a
  >
  <slot />
</main>
