---
import CallToActionButtons from "./CallToActionButtons.astro";

const { id } = Astro.props;
---

<main id={id} class="p-6 text-pretty lg:p-20">
  <h1>Clases en Vivo: Aprende, Practica y Triunfa</h1>
  <section class="flex flex-col gap-4 mt-4">
    <p>
      En <span class="text-dark-blue font-rubik-bold">académikos</span>,
      nuestras clases en vivo están diseñadas para construir las habilidades
      necesarias para superar con éxito el examen de admisión de la Universidad
      de Antioquia. Trabajamos en dos áreas clave: <span
        class="text-dark-blue font-rubik-bold"
        >Razonamiento Lógico y Lectura Crítica</span
      >, combinando teoría, práctica y estrategias claras para garantizar el
      aprendizaje efectivo.
    </p>
    <h2>Lunes y Miércoles: Razonamiento Lógico</h2>
    <h3>Te ayudaremos a dominar conceptos como:</h3>
    <ul>
      <li>Nociones de lógica</li>
      <li>Conteo y Probabilidad</li>
      <li>Aritmética y Fracciones</li>
      <li>Razonamiento Algebraico</li>
      <li>Geometría Básica</li>
      <li>Razonamiento Espacial</li>
      <li>Razonamiento Lógico Avanzado</li>
    </ul>

    <h2>Martes y Jueves: Lectura Crítica</h2>
    <h3>Entre los temas que abordaremos se encuentran:</h3>
    <ul>
      <li>Eufemismos y tabúes.</li>
      <li>Manipulación y responsabilidad de los comunicadores.</li>
      <li>Lenguaje especializado y corrección política.</li>
      <li>Reflexividad y productividad del lenguaje.</li>
      <li>Crítica social, ironía, antropofagia y exotismo.</li>
    </ul>

    <h2>Además, te prepararemos para:</h2>
    <ul>
      <li>Familiarizarte con el tipo de preguntas del examen.</li>
      <li>Practicar con exámenes reales anteriores.</li>
      <li>Desarrollar habilidades de pensamiento crítico.</li>
      <li>Manejar el tiempo, la calma y la concentración en las pruebas.</li>
    </ul>

    <h2>Un Método de Enseñanza Innovador</h2>
    <p>
      Nuestras clases tienen un enfoque <span
        class="text-dark-blue font-rubik-bold">teórico-práctico</span
      >, donde no solo transmitimos conocimientos, sino que ayudamos a los
      estudiantes a construir conceptualmente las habilidades necesarias para
      resolver ejercicios reales. Cada tema está alineado con conceptos y
      problemas que enfrentan los aspirantes en los exámenes de admisión.
    </p>

    <h2>Tecnología y Acompañamiento Constante</h2>
    <p>
      Utilizamos herramientas tecnológicas avanzadas para facilitar el
      aprendizaje a distancia:
    </p>
    <ul>
      <li>¡Clases en vivo!</li>
      <li>Tableros virtuales interactivos.</li>
      <li>
        Plataforma de apoyo al aprendizaje con recursos didácticos en línea.
      </li>
      <li>
        Canales de comunicación directa, incluyendo un chat exclusivo en
        WhatsApp, donde esolveremos tus dudas y te motivaremos a seguir
        adelante.
      </li>
    </ul>

    <h2>Tu Éxito, nuestra meta, nuestra felicidad.</h2>
    <p>
      En académikos, el acompañamiento constante es clave. Seguimos de cerca las
      inasistencias y trabajamos contigo para mantener alta tu motivación.
      Estamos aquí para guiarte en cada paso hacia tu meta de ingresar a la
      UdeA.
    </p>
    <p>
      <span class="text-dark-blue font-rubik-bold"
        >No nos distraemos con lo innecesario.</span
      > Nos enfocamos en lo esencial: optimizar el proceso de aprendizaje para que
      nuestros estudiantes dominen los conceptos clave y adquieran las habilidades
      necesarias para obtener altos puntajes que permita el acceso a la universidad
      incluso a las carreras más exigentes.
    </p>
  </section>
  <CallToActionButtons>
    <a href="#contact"><button>Contáctanos</button></a>
  </CallToActionButtons>
</main>
