---
const { id } = Astro.props;
---

<main id={id} class="p-6 text-pretty lg:p-20">
  <h1>Contáctanos</h1>
  <section class="mt-4 flex flex-col gap-4">
    <p>
      ¡Estamos aquí para ayudarte! Si tienes alguna pregunta o necesitas más
      información, no dudes en ponerte en contacto con nosotros. Puedes
      escribirnos al correo <span class="text-dark-blue font-rubik-bold"
        >académikos@gmail.com</span
      > o llamarnos al teléfono
      <span class="text-dark-blue font-rubik-bold">+573168301896.</span>
    </p>
    <p>
      ¡Estaremos encantados de responderte y acompañarte en tu camino hacia la
      universidad!
    </p>
  </section>
</main>
