<main class="p-10 text-pretty">
  <h1>Contáctanos</h1>
  <p>
    ¡Estamos aquí para ayudarte! Si tienes alguna pregunta o necesitas más
    información, no dudes en ponerte en contacto con nosotros. Puedes
    escribirnos al correo academikos@gmail.com o llamarnos al teléfono
    +0573000000000. ¡Estaremos encantados de responderte y acompañarte en tu
    camino hacia la universidad!
  </p>
</main>
