---
import SectionCard from "./SectionCard.astro";
---

<main
  class="h-dvh p-10 flex flex-col items-center justify-center"
  style="mask-image: linear-gradient(black 94%, transparent); background: linear-gradient(to right, rgba(52, 42, 97, 0.7), rgba(52, 42, 97, 0.7)), url('/images/heroImage.webp') no-repeat center center; background-size: cover;"
>
  <section
    class="text-white text-center flex flex-col items-center gap-2 max-w-[1300px]"
  >
    <img
      src="/images/academikos-logo-preuniversitario-udea-universidad-nacional.webp"
      alt="academikos-logo-preuniversitario-udea-universidad-nacional"
      class="filter grayscale brightness-0 invert h-16"
    />

    <span>APRENDE CON NOSOTROS</span>
    <h1>Preuniversitario U. de A.</h1>
    <p>
      Somos la preparación ideal para el examen de admisión a la Universidad de
      Antioquia . Con el respaldo de experimentados docentes y materiales
      diseñados para un óptimo aprendizaje, ofrecemos una experiencia
      interactiva y dinámica que combina clases en tiempo real, simulacros
      presenciales y módulos físicos.
    </p>
    <small class="opacity-45"
      >Pronto ofreceremos cursos cortos para preparar el examen de admisión a la
      Universidad Nacional</small
    >

    <div class="grid grid-cols-3 gap-2">
      <SectionCard
        description="Calendario"
        iconClass="fa-regular fa-calendar-days"
        reference="calendar"
      />
      <SectionCard
        description="Horarios"
        iconClass="fa-regular fa-clock"
        reference="schedule"
      />
      <SectionCard
        description="Docentes"
        iconClass="fa-solid fa-person-chalkboard"
        reference="instructors"
      />
      <SectionCard
        description="Clases en Vivo"
        iconClass="fa-solid fa-house-laptop"
        reference="classes"
      />
      <SectionCard
        description="Simulacros"
        iconClass="fa-regular fa-newspaper"
        reference="simulation"
      />
      <SectionCard
        description="Precios"
        iconClass="fa-solid fa-hand-holding-dollar"
        reference="pricing"
      />
      <SectionCard
        description="Qué Incluye?"
        iconClass="fa-solid fa-box-open"
        reference="items"
      />
      <SectionCard
        description="Matricúlate"
        iconClass="fa-solid fa-file-signature"
        reference="registration"
      />
      <SectionCard
        description="Contacto"
        iconClass="fa-regular fa-address-card"
        reference="contact"
      />
    </div>
  </section>
</main>
