<main
  class="h-dvh p-10 flex flex-col items-center justify-center"
  style="background: linear-gradient(to right, rgba(28, 28, 29, 0.3), rgba(17, 17, 17, 0.3)),linear-gradient(to right, rgba(30, 106, 221, 0.4), rgba(30, 106, 221, 0.4)), url('/images/heroImage.webp') no-repeat center center; background-size: cover;"
>
  <section class="text-white text-center flex flex-col items-center gap-4">
    <small>APRENDE CON NOSOTROS</small>
    <h1>ESTUDIA CON EXPERTOS</h1>
    <p class="font-semibold">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio id ipsam
      distinctio voluptatibus dignissimos aspernatur impedit, accusamus laborum,
      consequuntur aperiam est, officiis sapiente? Veniam minima dignissimos,
      quaerat id est dolor?
    </p>
    <button class="w-52">Obten tu curso</button>
  </section>
</main>
