---
import CallToActionButtons from "./CallToActionButtons.astro";
const { id } = Astro.props;
---

<main id={id} class="p-10">
  <h1>Docentes</h1>
  <section>
    <p>
      César Vargas: Filólogo de la Universidad de Antioquia con más de 10 años
      de experiencia en preuniversitarios a nivel nacional. Especialista en
      pruebas educativas tipo Icfes Saber 11 y reconocido por su enfoque
      práctico y efectivo.
    </p>
    <img
      src="https://th.bing.com/th/id/OIP.cDrNUD2bbO2iMdTfastBYwHaFW?rs=1&pid=ImgDetMain"
      alt="img-profe"
    />
  </section>
  <section>
    <p>
      Andrea Serna: Abogada de UNAULA y docente universitaria con más de 5 años
      de experiencia en ciencias humanas y preparación para exámenes de
      admisión, incluyendo las pruebas de la Universidad Nacional y la UdeA.
    </p>
    <img
      src="https://th.bing.com/th/id/OIP.cDrNUD2bbO2iMdTfastBYwHaFW?rs=1&pid=ImgDetMain"
    />
  </section>
  <section>
    <p>
      Andrés Ramírez: Licenciado en Matemáticas de la Universidad de Antioquia
      con una trayectoria de más de 10 años en preparación para pruebas como
      Icfes Saber 11, Exámenes de Admisión de la UdeA, la Universidad Nacional y
      Olimpiadas de Matemáticas.
    </p>
    <img
      src="https://th.bing.com/th/id/OIP.cDrNUD2bbO2iMdTfastBYwHaFW?rs=1&pid=ImgDetMain"
      alt="img-profe"
    />
  </section>
  <CallToActionButtons />
</main>
