---
import ItemCard from "./ItemCard.astro";

const { id } = Astro.props;
---

<main id={id} class="p-6 text-pretty">
  <h1>¿Qué incluye?</h1>
  <section class="flex flex-col gap-4 mt-4">
    <ItemCard
      description="2 Textos Guía prácticos con más de 180 ejercicios cada uno, especializadosen Razonamiento Lógico y Lectura Crítica."
      bgColor="bg-gradient-to-r from-dark-blue/80 to-dark-blue/50"
    />
    <ItemCard
      description="Clases en vivo con docentes expertos en preparación para el examen de admisión a la UdeA"
      bgColor="bg-gradient-to-r from-dark-blue/80 to-dark-blue/50"
    />
    <ItemCard
      description="Simulacros presenciales cada 15 días para practicar en condiciones reales"
      bgColor="bg-gradient-to-r from-dark-blue/80 to-dark-blue/50"
    />
    <ItemCard
      description="Base de datos de Exámenes reales: Para que conozcas cómo fueron las pruebas en otros semestres"
      bgColor="bg-gradient-to-r from-dark-blue/80 to-dark-blue/50"
    />
    <ItemCard
      description="Acompañamiento constante a través de canales directos de comunicación con los docentes"
      bgColor="bg-gradient-to-r from-dark-blue/80 to-dark-blue/50"
    />
    <ItemCard
      description="Seguimiento personalizado con análisis detallado de tu rendimiento mes a mes"
      bgColor="bg-gradient-to-r from-dark-blue/80 to-dark-blue/50"
    />
    <ItemCard
      description="Acceso a una plataforma virtual con tableros interactivos y material didáctico online"
      bgColor="bg-gradient-to-r from-dark-blue/80 to-dark-blue/50"
    />
    <ItemCard
      description="Asesoría en tiempo real durante las clases en vivo, para resolver dudas y fortalecer el aprendizaje"
      bgColor="bg-gradient-to-r from-dark-blue/80 to-dark-blue/50"
    />
    <ItemCard
      description="Evaluaciones de progreso constantes, con informes detallados sobre tu avance"
      bgColor="bg-gradient-to-r from-dark-blue/80 to-dark-blue/50"
    />
    <ItemCard
      description="Soporte por WhatsApp para resolver dudas fuera del horario de clases"
      bgColor="bg-gradient-to-r from-dark-blue/80 to-dark-blue/50"
    />
    <ItemCard
      description="Método de enseñanza teórico-práctico, con ejercicios de pruebas reales para que aprendas haciendo"
      bgColor="bg-gradient-to-r from-dark-blue/80 to-dark-blue/50"
    />
    <ItemCard
      description="Estrategias para optimizar tu tiempo en el examen, enfocadas en manejar la calma y concentración"
      bgColor="bg-gradient-to-r from-dark-blue/80 to-dark-blue/50"
    />
    <ItemCard
      description="Plan de acción adaptado a tus necesidades, para maximizar tus fortalezas y mejorar debilidades"
      bgColor="bg-gradient-to-r from-dark-blue/80 to-dark-blue/50"
    />
    <ItemCard
      description="Simulacros presenciales que te preparan para la exigencia del examen real de manera efectiva"
      bgColor="bg-gradient-to-r from-dark-blue/80 to-dark-blue/50"
    />
    <ItemCard
      description="Acceso a material exclusivo y recursos adicionales para potenciar tu aprendizaje en áreas clave"
      bgColor="bg-gradient-to-r from-dark-blue/80 to-dark-blue/50"
    />
    <ItemCard
      description="Comunidad activa de estudiantes, con acceso a un grupo exclusivo de WhatsApp para interactuar y compartir experiencias"
      bgColor="bg-gradient-to-r from-dark-blue/80 to-dark-blue/50"
    />
    <ItemCard
      description="Plataforma optimizada para educación a distancia, con una interfaz amigable y fácil de navegar"
      bgColor="bg-gradient-to-r from-dark-blue/80 to-dark-blue/50"
    />
    <ItemCard
      description="Revisión detallada de inasistencias para asegurar que no pierdas el ritmo y sigas motivado"
      bgColor="bg-gradient-to-r from-dark-blue/80 to-dark-blue/50"
    />
  </section>
</main>
