<main class="p-10 text-pretty">
  <h1>¿Qué incluye?</h1>
  <section class="flex flex-col gap-4">
    <p>
      2 Textos Guía prácticos con más de 180 ejercicios cada uno, especializados
      en Razonamiento Lógico y Lectura Crítica.
    </p>
    <p>
      Clases en vivo con docentes expertos en preparación para el examen de
      admisión a la UdeA.
    </p>
    <p>
      Simulacros presenciales cada 15 días para practicar en condiciones reales.
    </p>
    <p>
      Base de datos de Exámenes reales: Para que conozcas cómo fueron las
      pruebas en otros semestres.
    </p>
    <p>
      Acompañamiento constante a través de canales directos de comunicación con
      los docentes.
    </p>
    <p>
      Seguimiento personalizado con análisis detallado de tu rendimiento mes a
      mes.
    </p>
    <p>
      Acceso a una plataforma virtual con tableros interactivos y material
      didáctico online.
    </p>
    <p>
      Asesoría en tiempo real durante las clases en vivo, para resolver dudas y
      fortalecer el aprendizaje.
    </p>
    <p>
      Evaluaciones de progreso constantes, con informes detallados sobre tu
      avance.
    </p>
    <p>Soporte por WhatsApp para resolver dudas fuera del horario de clases.</p>
    <p>
      Método de enseñanza teórico-práctico, con ejercicios de pruebas reales
      para que aprendas haciendo.
    </p>
    <p>
      Estrategias para optimizar tu tiempo en el examen, enfocadas en manejar la
      calma y concentración.
    </p>
    <p>
      Plan de acción adaptado a tus necesidades, para maximizar tus fortalezas y
      mejorar debilidades.
    </p>
    <p>
      Simulacros presenciales que te preparan para la exigencia del examen real
      de manera efectiva.
    </p>
    <p>
      Acceso a material exclusivo y recursos adicionales para potenciar tu
      aprendizaje en áreas clave.
    </p>
    <p>
      Comunidad activa de estudiantes, con acceso a un grupo exclusivo de
      WhatsApp para interactuar y compartir experiencias.
    </p>
    <p>
      Plataforma optimizada para educación a distancia, con una interfaz
      amigable y fácil de navegar.
    </p>
    <p>
      Revisión detallada de inasistencias para asegurar que no pierdas el ritmo
      y sigas motivado.
    </p>
    <p>
      Metodología centrada en competencias, que no solo enseña, sino que prepara
      para afrontar cualquier desafío del examen.
    </p>
    <p>
      Entrenamiento en habilidades de pensamiento crítico, para abordar las
      preguntas más complejas con facilidad.
    </p>
    <p>
      Acceso a consejos y estrategias de los docentes para sacar el mejor
      puntaje posible en el examen de la UdeA.
    </p>
  </section>
</main>
