---
const { id } = Astro.props;
---

<main id={id} class="p-6 text-pretty lg:p-20">
  <h1>Precios</h1>
  <section class="mt-4 flex flex-col gap-4">
    <p>
      En <span class="text-dark-blue font-rubik-bold">academikos</span>, te
      ofrecemos una preparación completa para ingresar a la Universidad de
      Antioquia con clases en vivo, simulacros presenciales, seguimiento
      personalizado y una metodología que optimiza tu aprendizaje.
    </p>

    <p>
      Todo esto, respaldado por docentes expertos y con más de 100 estudiantes
      que ya han alcanzado sus metas, por un valor único de <span
        class="text-dark-blue font-rubik-bold">1.100.000 pesos</span
      >
      colombianos.
    </p>

    <p>
      Esta inversión es tu oportunidad para asegurar tu lugar en la UdeA y
      alcanzar la carrera de tus sueños.
    </p>

    <p>¡No esperes más, comienza tu camino hacia el éxito con nosotros!</p>
  </section>
</main>
