---
const { id } = Astro.props;
---

<main id={id} class="p-6 text-pretty lg:p-20">
  <h1>Precios</h1>
  <section class="mt-4 flex flex-col gap-4 md:items-center md:justify-center">
    <p>
      <span class="text-dark-blue font-rubik-bold">1.100.000</span>, por un
      período de clases que va desde enero hasta octubre.
    </p>
  </section>
</main>
