<main class="p-10 text-pretty">
  <h1>Matricúlate</h1>
  <p>
    ¡No dejes pasar la oportunidad de asegurar tu lugar en la Universidad de
    Antioquia! Matricúlate hoy en Académikos y comienza tu preparación con los
    mejores docentes y recursos. Realiza tu pago a la cuenta de ahorros
    Bancolombia 10-1234567 y envía el soporte de pago al número de teléfono
    +0573000000000. ¡Da el primer paso hacia tu futuro universitario y alcanza
    la carrera de tus sueños con nosotros!
  </p>
</main>
