---
import CallToActionButtons from "./CallToActionButtons.astro";

const { id } = Astro.props;
---

<main id={id} class="p-6 text-pretty lg:p-20">
  <h1>Matricúlate</h1>
  <section class="mt-4 flex flex-col gap-4">
    <p>
      ¡No dejes pasar la oportunidad de asegurar tu lugar en la Universidad de
      Antioquia! Matricúlate hoy en <span class="text-dark-blue font-rubik-bold"
        >académikos</span
      > y comienza tu preparación con los mejores docentes y recursos.
    </p>
    <p>
      Realiza tu pago a la cuenta de <span
        class="text-dark-blue font-rubik-bold"
        >ahorros Bancolombia 31316636635</span
      > y envía el soporte de pago al número de teléfono <span
        class="text-dark-blue font-rubik-bold">+573168301896.</span
      >
    </p>
    <p>
      ¡Da el primer paso hacia tu futuro universitario y alcanza la carrera de
      tus sueños con nosotros!
    </p>
  </section>
  <CallToActionButtons />
</main>
