---
import RegisterButton from "./RegisterButton.astro";
const { id } = Astro.props;
---

<main id={id} class="p-10 text-pretty">
  <h1>Horarios</h1>
  <section>
    <p>
      Nuestras clases están pensadas para adaptarse a las necesidades de los
      estudiantes, ofreciendo un horario accesibles permita una preparación
      completa sin interferir con otras actividades.
    </p>
  </section>

  <section>
    Lunes a jueves: 7:30 p.m. a 9:30 p.m. Este horario nocturno asegura que
    tanto estudiantes que estudien en la mañana o en la tarde, puedan conectarse
    sin inconvenientes. Viernes cada 15 días: 2:00 p.m. a 5:00 p.m. Simulacros
    presenciales en el Colegio Corazonista de Medellín. Estos simulacros son
    esenciales para que los estudiantes practiquen en un ambiente real de examen
    y midan su progreso de manera efectiva.
  </section>

  <section class="flex">
    <RegisterButton />
    <button>Metodología de clases en vivo</button>
  </section>
</main>
