<main class="p-10 text-pretty">
  <h1>Simulacros: ¡Presenciales!</h1>
  <section>
    <p>
      Los simulacros son una parte fundamental de nuestro enfoque para
      garantizar que nuestros estudiantes estén completamente preparados para
      las pruebas de admisión.
    </p>
    <p>
      Cada 15 días, realizaremos simulacros presenciales en el Colegio
      Corazonista de Medellín, donde los estudiantes tendrán la oportunidad de
      enfrentar exámenes en condiciones similares a las de la prueba real. Estos
      simulacros son una excelente manera de medir el progreso y la preparación
      de los estudiantes, además de ayudarles a gestionar su tiempo y mantener
      la calma durante el examen. Son 40 preguntas de Razonamiento Lógico y 40
      de Lectura crítica para resolver en 3 horas, muy similares a los
      ejercicios del examen de admisión.
    </p>

    <h2>Objetivo de los Simulacros:</h2>
    <ul>
      <li>
        Recrear la experiencia del examen real: Los simulacros son diseñados
        para simular las condiciones del examen de admisión, permitiendo que los
        estudiantes se familiaricen con el formato, el tipo de preguntas y la
        presión del tiempo.
      </li>
      <li>
        Evaluación continua: Los resultados de los simulacros nos permiten
        identificar las áreas en las que cada estudiante necesita mejorar, y nos
        brindan información clave para ajustar el plan de estudio a sus
        necesidades individuales.
      </li>
      <li>
        Gestión del estrés: Practicar con simulacros ayuda a los estudiantes a
        reducir la ansiedad y mejorar su capacidad de concentración y manejo del
        estrés en un entorno de examen real.
      </li>
      <li>
        Retroalimentación : Después de cada simulacro, ofrecemos
        retroalimentación en clase para que los estudiantes comprendan en qué
        puntos fallaron y cómo pueden mejorar para obtener mejores resultados.
      </li>
    </ul>

    <p>
      Simulacros Virtuales: Además de los simulacros presenciales, ofreceremos
      simulacros virtuales para que los estudiantes que no puedan asistir por
      algún motivo al simulacro presencial, puedan practicar en cualquier
      momento y desde cualquier lugar. Estos simulacros también están alineados
      con el formato de la prueba de admisión y permitirán que los estudiantes
      se familiaricen con el examen y el ritmo que conlleva.
    </p>

    <h2>Análisis de los Simulacros:</h2>
    <p>
      Después de cada simulacro, recopilamos datos clave sobre el desempeño de
      cada estudiante en diferentes áreas. Algunas de las métricas que
      analizaremos incluyen:
    </p>
    <ul>
      <li>
        Tiempo de respuesta por sección: Analizamos si el estudiante está
        manejando bien el tiempo o si necesita trabajar más en ciertas
        secciones.
      </li>
      <li>
        Áreas de conocimiento: Identificamos las secciones donde el estudiante
        obtuvo un puntaje bajo, como razonamiento lógico, lectura crítica,
        matemáticas, etc.
      </li>
      <li>
        Porcentaje de respuestas correctas: Comparamos el porcentaje de
        respuestas correctas con el total de preguntas por área, permitiéndonos
        identificar patrones de debilidades.
      </li>
      <li>
        Promedios Ponderados: Similar a como evalúa la Universidad de Antioquia
      </li>
    </ul>
  </section>
</main>
