---
import Calendar from "@components/Calendar.astro";
import Classes from "@components/Classes.astro";
import Contact from "@components/Contact.astro";
import Footer from "@components/Footer.astro";
import Hero from "@components/Hero.astro";
import Instructors from "@components/Instructors.astro";
import Items from "@components/Items.astro";
import Pricing from "@components/Pricing.astro";
import Registration from "@components/Registration.astro";
import Schedule from "@components/Schedule.astro";
import Simulation from "@components/Simulation.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <link
      rel="icon"
      type="image/webp"
      href="/images/academikos-logo-preuniversitario-udea-universidad-nacional-favicon.webp"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
      integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- <ViewTransitions> -->
  </head>
  <body>
    <Hero />
    <Calendar id="calendar" />
    <Schedule id="schedule" />
    <Instructors id="instructors" />
    <Classes id="classes" />
    <Simulation id="simulation" />
    <Pricing id="pricing" />
    <Items id="items" />
    <Registration id="registration" />
    <Contact id="contact" />
    <Footer id="footer" />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "rubik-r";
    src: url("/fonts/Rubik-Regular.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "rubik-l";
    src: url("/fonts/Rubik-Light.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "rubik-i";
    src: url("/fonts/Rubik-Italic.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "rubik-sb";
    src: url("/fonts/Rubik-SemiBold.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "rubik-bold";
    src: url("/fonts/Rubik-Bold.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "rubik-black";
    src: url("/fonts/Rubik-Black.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
  }
  root {
    --dark-blue: #342a61;
    --sky-blue: #0eb9dc;
  }

  html {
    scroll-behavior: smooth;
    font-family: rubik-r;
  }
  button {
    @apply bg-sky-900 text-white font-semibold text-[0.6rem] min-w-32 min-h-10 py-2 px-4 rounded-xl;
  }
  h1 {
    @apply text-2xl font-bold;
    font-family: rubik-black;
  }
  h2 {
    @apply text-xl font-bold;
    font-family: rubik-r;
  }
  h3 {
    @apply text-lg font-bold;
    font-family: rubik-sb;
  }
  h4 {
    @apply text-base font-bold;
    font-family: rubik-l;
  }
  p {
    @apply text-[0.88rem] font-bold;
    font-family: rubik-r;
  }
</style>
